.formacao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 6.25rem 0;
}

.formacao .titulo {
  text-align: center;
}

.formacao-lista {
  grid-column: 2;
  grid-row: 1 / 2;
  max-width: 37.5rem;
  margin: 0 auto;
  text-align: center;
}
.faculdade {
  max-width: 33.125rem;
  background-color: #04cfb1;
  border-radius: 5px;
  margin: 3.75rem auto;
  padding: 0.625rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}
.faculdade p {
  padding-top: 0.625rem;
}
.faculdade::before {
  content: "ENSINO SUPERIOR";
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.2ch;
  color: #757575;
  position: absolute;
  top: -1.5rem;
  right: 0;
}
.faculdade::after {
  content: "CURSOS INTENSIVOS";
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.2ch;
  color: #757575;
  position: absolute;
  top: 6.8rem;
  right: 0;
}
.cursos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.625rem;
  position: relative;
}
.cursos-item {
  width: 16.25rem;
  height: 4.37rem;
  border-radius: 5px;
  background-color: #04cfb1;
  position: relative;
}
.cursos-item span {
  display: inline-block;
  padding: 0 1.875rem;
}

.cursos-item span::after {
  content: "";
  width: 3px;
  height: 20px;
  border-radius: 5px;
  background-color: #1a1a21;
  position: absolute;
  top: 42px;
  left: 134px;
}
.cursos-item h3 {
  padding: 0.625rem 0;
}

@media (max-width: 75rem) {
  .formacao {
    grid-template-columns: 1fr;
  }
  .formacao-lista {
    grid-column: initial;
    grid-row: initial;
  }
  .formacao-titulo {
    margin: 0 auto;
  }
  .formacao-img {
    max-width: 25rem;
  }
}

@media (max-width: 62.5rem) {
  .formacao .titulo {
    line-height: 6rem;
  }
}

@media (max-width: 37.5rem) {
  .faculdade::after {
    top: 8.31rem;
    right: 6.56rem;
  }
  .faculdade::before {
    right: 7.18rem;
  }
  .formacao-img {
    max-width: 18.75rem;
  }
}

@media (max-width: 33rem) {
  .faculdade {
    max-width: 20rem;
  }
  .faculdade::after {
    top: 9.56rem;
    right: 4.18rem;
  }
  .faculdade::before {
    right: 5rem;
  }
  .formacao .titulo {
    text-transform: capitalize;
  }
}
