* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1a1a21;
}

img {
  max-width: 100%;
  display: block;
}
.container {
  max-width: 75rem;
  margin: 0 auto;
}

.titulo {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 3.62rem;
  text-transform: uppercase;
  line-height: 11.375rem;
  color: #c5c5c5;
}
.subtitulo {
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #1a1a21;
}

@media (max-width: 22.5rem) {
  .titulo {
    font-size: 2.75rem;
  }
}

/* Scroll Config */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #1a1a21;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b1afaf;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #04cfb1;
}
