.header {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  align-items: center;
  padding: 3.75rem 0;
}

.logo {
  width: 14rem;
}
.menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.25rem;
  list-style: none;
}

.menu a {
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 0.625rem 1.25rem 0.312rem 0.625rem;
  color: #b1b1b1;
  display: block;
  border-left: 4px solid transparent;
}

.menu a:hover {
  color: #e6e6e6;
  border-left: 4px solid #03cfb1;
  transition: 0.5s;
  font-size: 1.625rem;
}

@media (max-width: 62.5rem) {
  .header {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2.5rem 0;
  }
  .menu {
    justify-content: center;
  }
}

@media (max-width: 47.5rem) {
  .header {
    padding: 2.5rem 0;
  }
  .menu a {
    padding: 1.25rem;
  }
}

@media (max-width: 37.5rem) {
  .logo {
    width: 12.5rem;
  }
  .header {
    padding: 1.25rem 0;
    gap: 0;
  }
  .menu a {
    padding: 1rem;
  }
}
@media (max-width: 32.5rem) {
  .header {
    padding-top: 1.5rem;
  }
  .menu {
    flex-direction: column;
    padding-top: 1.5rem;
    gap: 0;
  }
  .menu a {
    padding: 0.5rem 1rem 0.25rem 0.5rem;
  }
}
