.projetos {
  background-color: #ededed;
  width: 100%;
  padding: 3.75rem 0;
}
.projetos .titulo {
  text-align: center;
  color: #646464;
  margin-bottom: 1.25rem;
}
.projetos-container {
  display: grid;
  grid-template-columns: 40% 60%;
}
.projetos-lista {
  padding: 3.75rem 2.5rem;
}

.projeto-descricao {
  padding: 0.625rem 0rem 0.625rem 1.25rem;
}
.projeto-descricao .ver-projeto {
  display: flex;
  gap: 0.625rem;
}

.projeto-descricao img {
  width: 2.5rem;
  display: block;
}

.projetos .subtitulo {
  font-size: 1rem;
}
.projetos-item {
  display: grid;
  grid-template-columns: 55% 45%;
  gap: 0rem 0.62rem;
  margin-bottom: 0.62rem;
  background-color: #1a1a21;
  border-radius: 5px;
}
.projeto-descricao h3 {
  color: #ededed;
}
.projeto-descricao p {
  color: #c5c5c5;
  font-style: light;
  font-size: 1rem;
  line-height: 1.25rem;
}
.projeto-descricao .subtitulo {
  margin: 0.62rem 0;
}
.projeto-descricao a {
  margin-top: 0.62rem;
  color: #c5c5c5;
  display: block;
}
.tecnologias {
  text-align: center;
  padding: 1.25rem 1.25rem;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.tecnologias span {
  color: #ededed;
}
.tecnologias ul {
  list-style: none;
  color: #c5c5c5;
  padding-top: 0.62rem;
  gap: 0.62rem;
}
.tecnologias li {
  border-radius: 5px;
  background: linear-gradient(#6cebd8, #0fac95);
  border: 3px solid #067262;
  color: #1a1a21;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  padding: 3px 6px;
}

@media (max-width: 62.5rem) {
  .projetos-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .projetos .titulo {
    margin-bottom: 0px;
    line-height: 6rem;
  }
  .projetos-img {
    max-width: 31.25rem;
    margin: 0 auto;
  }
}

@media (max-width: 37.5rem) {
  .projetos .titulo {
    text-transform: capitalize;
  }
  .projetos-img {
    max-width: 18.75rem;
  }
  .projetos-lista {
    padding: 3.75rem 1.25rem;
  }
}
@media (max-width: 28.75rem) {
  .projetos-img {
    max-width: 18.75rem;
  }
  .projetos-item {
    grid-template-columns: 1fr;
    padding: 0 0.62rem;
  }
  .projeto-descricao {
    text-align: center;
    padding: 0.62rem;
  }
  .projeto-descricao .ver-projeto {
    justify-content: center;
    margin: 0.5rem 0;
  }
}
